body{
	font-family: Ariel;
	background-color: gray;

}
header
{
	 background-color:black;
    color: white;
    text-align: center;
    padding: 1px 0;
}
nav{
	background-color: lightgray;
}
ul{
	text-align: center;
	list-style: none;

}
section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;

}
nav ul li{
	margin: 15px 15px 15px 15px;
	padding: 15px 15x 15px 15px;
}
